<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>The Materialize Example</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Laporan Keuangan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uang Masuk
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Piutang</a>
                            <a class="dropdown-item" href="#">Utang</a>
                            <a class="dropdown-item" href="#">Pendapatan Lain-lain</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Uang Keluar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Pembayaran Utang</a>
                            <a class="dropdown-item" href="#">Pembayaran Biaya</a>
                            <a class="dropdown-item" href="#">Pembayaran Lain-lain</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Penjualan<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pembelian<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Barang</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>





<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>             
   </head>
   
   <body>
      <div class = "card-panel indigo accent-4 center"><h3>Hello World!</h3></div>
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1">Keperluan</a></li>
        <li class="tab col s3"><a class="active" href="#test-swipe-2">Uang Masuk</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Uang Keluar</a></li>
      </ul>
      <div id="test-swipe-1" class="container col s12">
        <div class = "row">
            <div class = "col s12 m4 l4">
               <a href="/lr">
                  <div class = "card-panel teal">
                     <span class = "white-text">Laporan Laba/Rugi</span>
                  </div>
               </a>
            </div>
            <div class = "col s12 m4 l4">
               <a href="">
                  <div class = "card-panel teal">
                     <span class = "white-text">Daftar Pemasok</span>
                  </div>
               </a>
             </div>
             <div class = "col s12 m4 l4">
               <a href="/barang">
                <div class = "card-panel teal">
                   <span class = "white-text">Daftar Barang Dijual</span>
                </div>
               </a>
             </div>
             <div class = "col s12 m4 l4">
                <div class = "card-panel teal">
                   <span class = "white-text">Daftar Pemberi Utang</span>
                </div>
             </div>
        </div>
      </div>
      <div id="test-swipe-2" class="container col s12">
        <div class = "row">
            <div class = "col s12 m4 l4">
               <a href="/penjualan">
                  <div class = "card-panel blue accent-2">
                     <span class = "white-text">Penjualan</span>
                  </div>   
               </a>
            </div>
            <div class = "col s12 m4 l4">
               <a href="/piutang">
                <div class = "card-panel blue accent-2">
                   <span class = "white-text">Piutang</span>
                </div>
               </a>
             </div>
             <div class = "col s12 m4 l4">
               <a href="/utang">
                <div class = "card-panel blue accent-2">
                   <span class = "white-text">Utang</span>
                </div>
               </a>
             </div>
             <div class = "col s12 m4 l4">
               <a href="/pend_lain">
                <div class = "card-panel blue accent-2">
                   <span class = "white-text">Pendapatan Lain-lain</span>
                </div>
               </a>
             </div>
        </div>
      </div>
      <div id="test-swipe-3" class="container col s12">
        <div class = "row">
            <div class = "col s12 m4 l4">
               <a href="/pembelian">
               <div class = "card-panel deep-orange">
                  <span class = "white-text">Pembelian</span>
               </div>
               </a>
            </div>
            <div class = "col s12 m4 l4">
               <a href="/pembayaran_utang">
                <div class = "card-panel deep-orange">
                   <span class = "white-text">Pembayaran Utang</span>
                </div>
                </a>
            </div>
            <div class = "col s12 m4 l4">
               <a href="/pembayaran_biaya">
                <div class = "card-panel deep-orange">
                   <span class = "white-text">Pembayaran Biaya</span>
                </div>
               </a>
            </div>
            <div class = "col s12 m4 l4">
               <a href="/pembayaran_lain">
                <div class = "card-panel deep-orange">
                   <span class = "white-text">Pembayaran Lain-lain</span>
                </div>
               </a>
            </div>
        </div>
      </div>
   </body>
</html>