<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Praxis Academy 03-04</title>
    </head>
    <body>
        <div class="container px-lg-5">     
<!-- Header -->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1>Edit Band List</h1><br>
                    </div>
                </div>
            </div>
<!-- End Header -->

<!-- Content -->
    <!-- Form -->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <form method="POST" action="" class="mt-3">
                                {% csrf_token %}
                            <div class="form-group">
                                <h4>Edit</h4><br>
                                <input type="text" name="nama_band" class="form-control" value="{{data.nama_band}}" id="exampleInputPassword1" placeholder="Band Name">
                                <input type="text" name="aliran" class="form-control mt-2" value="{{data.aliran}}" id="exampleInputPassword1" placeholder="Genre">
                                <input type="text" name="negara_asal" class="form-control mt-2" value="{{data.negara_asal}}" id="exampleInputPassword1" placeholder="Country">

                                <input type="text" name="personil" class="form-control mt-2" value="{{data.personil}}" id="exampleInputPassword1" placeholder="Personnel">
                                <input type="text" name="posisi" class="form-control mt-2" value="{{data.posisi}}" id="exampleInputPassword1" placeholder="Position">
                                <input type="text" name="status" class="form-control mt-2" value="{{data.status}}" id="exampleInputPassword1" placeholder="Status">        
                                <button type="submit" class="btn btn-primary mt-2">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>        
    <!-- End Form -->
<!-- End Content -->


        </div>
<!-- Footer -->
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
